[submodule "raw/code/mini_pytorch_xla"]
	path = raw/code/mini_pytorch_xla
	url = https://github.com/vlasenkoalexey/mini_pytorch_xla
[submodule "raw/code/wikify-repo"]
	path = raw/code/wikify-repo
	url = https://github.com/vlasenkoalexey/wikify-repo
